.mySwiper {
  width: 100%;
  height: 100%;
  margin: 4rem 0;
  z-index: -1;
} 
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.carrousel-imgs{
  width: 30rem;
  height: 20rem;
  object-fit:cover;
  user-select: none;
} 