.home-banner{
    background: url("../../assets/banner-sm.jpg") no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    color: white;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    margin: auto;
    display: flex;
    padding-top: 15vh;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.home-pearl-white{
    font-weight: 900;
    font-size: 2.6em;
    line-height: 2.9rem;
    padding: 0 .7rem;
    letter-spacing: -.5px;
}
.home-subtitle{
    font-weight: 600;
    font-size: .9em;
    margin: 1.5625rem 0 2.375rem 0;
    line-height: 1.5rem;
    padding: 0 .3rem;
}
.home-boton{
    background-color: white;
    color: rgb(55, 55, 55);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 auto;
    cursor: pointer;
    padding: .4375rem 2.125rem;
    text-decoration: none;
    display: inline-block;
}
.home-texto{
    max-width: 40rem;
}
@media(min-width: 31.25rem){
    .home-banner{
        background-position: 0 80%;
        padding-top: 16vh;
    }
}
 @media(min-width: 900px){ 
    .home-banner{
        background: url("../../assets/banner-1440redux.jpg") no-repeat 25%;
        background-size: cover;
        padding-top: 26vh;
        height: 70vh;
    }
    .home-boton{
        transition: 150ms linear;
    }
    .home-boton:hover{
        background-color: rgba(237, 237, 237, 0.848);
    }
} 
@media(min-width: 68.75rem){
    .home-banner{
        height: 90vh;
        background-position: 0 35%;
    }
    .home-pearl-white{
        font-size: 2.9em;
        line-height: 3.1rem;
    }
    .home-subtitle{
        font-size: 1.1em;
        line-height: 1.6rem;
    }
}
@media(min-width: 93.75rem){
    .home-banner{
        height: 100vh;
        background-position: 100% 20%;
    }
}
@media(min-width: 110rem){
    .home-pearl-white{
        font-size: 3.3em;
    }
    .home-subtitle{
        font-size: 1.3em;
        line-height: 1.7rem;
    }
}
