.header-max-width, .navbar-active{
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-container{
    height: 2.5rem;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    max-width: 105rem;
    margin: auto;
}
.navbar-active{
    background-color: #f3f4f9; 
}
.navbar-logo{
    order: 2;
    margin: auto;
    pointer-events: none;
    user-select: none;
    width: 7rem;
}
.menu-icons{
    order: 1;
    width: 1.3rem;
    height: 1.3rem;
    margin: auto .5rem;
    color: #fff;
}
.icon-color{
    color: #000;
}
.nav-menu {
    position: fixed;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #f3f4f9;
    top: 0;
    left: -100%;
    padding: 1rem;
    transition: .5s ease;
    z-index: -1;
}
.nav-links-a{
    color: #000;
    text-decoration: none;
}
.nav-menu.menu-active{
    left: 0;
}
.navbar-cart{
    display: flex;
    position: relative;
    order: 3;
    width: 1.3rem;
    height: 1.3rem;
    margin: auto .5rem;
    color: #fff;
    cursor: pointer;
}
.cart-count{
    position: absolute;
    top: -10px;
    right: -7px;
    background-color: rgb(155, 68, 242);
    color: #fff;
    width: 1rem;
    height: 1rem;
    text-align: center;
    border-radius: 50%;
    font-size: .8em;
    font-weight: 600;
}
.navbar-active .nav-links-a, 
.navbar-active .menu-icons, 
.navbar-active .navbar-cart{
    color: #000;     
}
.nav-links{
    margin: 1.5rem .5rem;
    text-align: end;
    font-size: 1.1em;
}

/* cart */
.cart-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 3rem;
}
.cart-empty-svg{
    color: red;
    width: 3.5rem;
}
.cart-empty-title{
    font-size: 1.5em;
    text-align: center;
}
.cart-container {
    margin: -1rem 0 0 -.5rem;
    overflow-y: auto;
    max-height: 35rem;
}
.cart-header{
    margin: 0 1rem .5rem 0;
    height: 4.5rem;
}
.cart-title{
    font-size: 1.7em;
}
.cart-product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: .8rem;
    margin: .5rem 0 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(172, 172, 172);
}
.cart-img{
    width: 6rem;
}
.cart-product-title{
    font-size: .9em;
    width: 6rem;
}
.cart-product-quantity{
    font-size: .8em;
}
.cart-product-price{
    font-size: .8em;
    font-weight: 600;
    line-height: 1rem;
}
.cart-delete-product{
    align-self: flex-start;
    width: 1.3rem;
}
.cart-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem .5rem;
    font-size: 1.1em;
}
.total-cart{
    font-weight: 600;
}
@media (min-width: 35rem){
    .nav-menu {
        width: 40%;
    }
}
@media (min-width: 52rem){
    .navbar-container{
        justify-content: space-between;
        height: 3rem;
    }
    .navbar-active{
        height: 3rem;
    }
    .container-links{
        order: 2;
    }
    .nav-menu{
        all: unset;
        height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        transition: none;
    }
    .nav-links-a{
        color: #efefef;
        font-weight: 400;
        padding: .2rem .5rem;
        border-radius: 3rem;
        transition: .5s ease;
    }
    .nav-links-a:hover{
        color: #000;
        background-color: #f3f4f9;
    }
    .nav-links-active:hover{
        background-color: #322e31;
        color: #f3f4f9;
    }
    .menu-icons{
        display: none;
    }
    .navbar-logo {
        order: 1;
        margin: auto 0 auto 1.5rem;
        width: 8rem;
    }
    .navbar-cart{
        width: 1.5rem;
        height: 1.5rem;
        margin: auto 1.5rem auto 4rem;
    }
    .cart-count{
        padding-top: .1rem;
        top: -11px;
        right: -12px;
        width: 1.4rem;
        height: 1.3rem;
        font-size: .83em;
    }
}
@media (min-width: 72rem){
    .nav-links-a{
        padding: .2rem .7rem;
        font-size: 1.05em;
    }
    .navbar-logo {
        margin: auto -2rem auto 3rem;
        width: 9rem;
    }
    .navbar-cart{
        margin: auto 3rem auto 4rem;
    }
}
@media (min-width: 100rem){
    .navbar-container{
        height: 3.5rem;   
    }
    .navbar-active{
        height: 3.5rem;
    }
    .nav-links-a{
        padding: .3rem 1rem;
        font-size: 1.15em;
    }
    .navbar-logo {
        margin: .5rem -4rem auto 4rem;
        width: 12rem;
    }
    .navbar-cart{
        margin: .8rem 4rem 1rem 4.5rem;
        width: 1.7rem;
        height: 1.7rem;
    }
}