/* reset  */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, img,
small, strong, i, ol, ul, li, button,
fieldset, form, label, legend,
article, aside, figure,  footer,
header, nav, section, video, svg, path {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img, video, iframe, picture, figure{
    max-width: 100%;
    display: block;
}
a {
    display: block;
}
li {
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, a, span, strong, i {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}
/* ::selection{
    background-color: var(--first-color);
    color: var(--dark-color);
} */
form, input , textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
}
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}
body {
    min-height: 100vh;
    font-size: 100%;
    /* font-family: var(--principal-typo);
    color: var(--dark-color);
    background-color: var(--light-color); */
}
/* main{
    max-width: 105rem;
    margin: auto;
} */
